.fone-modal{
  position: relative;   
   background-color:#FF6B09;
   font-size: 18px;
   width:290px;  
   height: 152px;
  @media screen and (min-width: $tablet) {
    width: 650px; 
    height: 230px;
  }

  @media screen and (min-width: $desktop) {
    width: 860px;
   
  }
}
.input-search{
   margin-top: 60px;
   margin-bottom: 60px;
   margin-left: 20px;
   margin-right: 20px;
    font-family: inherit;
    
    border: 0;
    border-bottom: 1px solid #000000 ;
    outline: 0;
    font-size: 18px;
    color: #FFFFFF;    
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    line-height: 21.09px;    
    width: 251.5px;   
    
    @media screen and (min-width: $tablet) {
        width:550px;
        margin-top: 94px;
   margin-bottom: 94px;
   margin-left: 50px;
   margin-right: 50px;
      }
    
    @media screen and (min-width: $desktop) {
        width:650px;
        margin:100px;
      }
}
.input-search::placeholder {
    color: #FFFFFF;
    opacity: 0.5;
    text-transform: uppercase;
}
.icon-c{
    width: 14px;
    height: 14px;
    background: transparent;
    background-color:#FF6B09; 
    fill:#FFFFFF;
}
.icon-s{    
    width: 17.5px;
    height: 17.5px;
    background: transparent;
    background-color:#FF6B09; 
    fill:#FFFFFF;
}
.aBtn{
    position: absolute;
    top:30px;
    right: 25px;
    background-color:#FF6B09;  
    border: #FF6B09;
    @media screen and (min-width: $tablet) {
      top:21px;
     right: 17px;
    }
  
  @media screen and (min-width: $desktop) {
    top:30px;
    right: 25px;
    }
} 
.bBtn{
    position: absolute;
    top:70px;
    right: 35px;
    background-color:#FF6B09;  
    border: #FF6B09;
    @media screen and (min-width: $tablet) {
      top:97px;
    right: 75px;
    }
  
  @media screen and (min-width: $desktop) {
    top:103px;
    right: 130px;
    }
}